body{
	background: black;
	background-image: url("http://cdn.wallpapersafari.com/12/93/LuE8QB.jpg");
	color: #d9d9d9;
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	margin-top: 10%;

}

h1{
	font-size: 30px;
}

p{
	font-size: 24px;
}